.waiting-icon {
  width: 30%;
  -webkit-animation: rotation 5s infinite linear;
  animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform:
    rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:
    rotate(359deg);
  }

}